In [1]:
%pylab inline
import pandas as pd
import seaborn as sns

Populating the interactive namespace from numpy and matplotlib

In [4]:
?pd.read_pickle

In [5]:
!ls

The Model.ipynb         cleaned_df.pkl          munging.ipynb           scripts
Untitled.ipynb          data                    readme.md               test_case.csv
better_use_case.csv     descirptive_stats.ipynb roadmap.ipynb

In [8]:
df = pd.read_pickle('cleaned_df.pkl')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 646387 entries, 0 to 180099
Data columns (total 30 columns):
total_pymnt                   646387 non-null float64
zip_code                      646387 non-null int64
member_id                     646387 non-null float64
id                            646387 non-null int64
loan_amnt                     646387 non-null float64
int_rate                      646387 non-null float64
installment                   646387 non-null float64
emp_length                    615969 non-null float64
home_ownership                646387 non-null category
grade                         646387 non-null category
sub_grade                     646387 non-null int64
emp_title                     609363 non-null object
issue_d                       646387 non-null datetime64[ns]
loan_status                   646387 non-null category
annual_inc                    646383 non-null float64
verification_status           646387 non-null int64
purpose                       646387 non-null category
addr_state                    646387 non-null category
inq_last_6mths                646358 non-null float64
dti                           646387 non-null float64
revol_util                    645984 non-null float64
mths_since_last_record        94340 non-null float64
mths_since_last_delinq        309041 non-null float64
pub_rec                       646358 non-null float64
revol_bal                     646387 non-null float64
open_acc                      646358 non-null float64
collections_12_mths_ex_med    646242 non-null float64
delinq_2yrs                   646358 non-null float64
earliest_cr_line              646358 non-null datetime64[ns]
last_credit_pull_d            646339 non-null datetime64[ns]
dtypes: category(5), datetime64[ns](3), float64(17), int64(4), object(1)
memory usage: 131.3+ MB

In [11]:
df.loan_status.value_counts()

Current                                                     428292
Fully Paid                                                  163412
Charged Off                                                  35389
Late (31-120 days)                                            9215
In Grace Period                                               5155
Does not meet the credit policy.  Status:Fully Paid           1959
Late (16-30 days)                                             1952
Does not meet the credit policy.  Status:Charged Off           761
Default                                                        223
Does not meet the credit policy.  Status:Current                28
Does not meet the credit policy.  Status:In Grace Period         1
dtype: int64

In [ ]:
old_loans