# Services Available

1. Transfer funds
2. Summary
3. Cancel transfers
4. Submit order
5. Create portfolio
6. Listed Loans

One request per second limit.

# Doing it

In [39]:
import os
credentials = os.environ['LENDING_CLUB_API']
investor_id = 5809260
import sys
from scripts.model import create_matrix

In [2]:
import requests

In [3]:
 headers = {'Authorization': credentials}

In [4]:
r = requests.get('https://api.lendingclub.com/api/investor/v1/loans/listing?showAll=true',
                headers=headers)

In [5]:
investor_id = 5809260

In [6]:
loans = r.json()['loans']

In [7]:
import pandas as pd
df = pd.DataFrame(loans)

## Predicting the Values

In [8]:
from sklearn.externals import joblib
from scripts.model import create_matrix
from scripts.clean_data import clean_columns, category_processing

## Steps

1. Load the Model
2. Load the df
3. turn the df into the same matrix as before
4. Predict the values

In [22]:
model = joblib.load('model/rf_model.pkl')

In [23]:
model.feature_importances_

array([  0.00000000e+00,   7.74582427e-04,   4.25484043e-03,
         6.44435277e-03,   6.53594083e-03,   5.81373876e-03,
         7.23756605e-03,   9.69437071e-03,   7.79777132e-03,
         3.37990732e-03,   5.42204621e-03,   5.37577858e-03,
         5.37992256e-03,   5.31156625e-03,   5.16631500e-03,
         5.18567283e-03,   4.77221367e-03,   4.20083932e-03,
         3.78652367e-03,   3.77130329e-03,   3.79652276e-03,
         1.59038754e-03,   1.93192443e-03,   2.80524110e-03,
         5.93305235e-03,   1.10029447e-02,   6.64117419e-03,
         2.06063161e-02,   5.17116793e-03,   4.68428681e-03,
         6.32563842e-04,   4.06048610e-03,   2.70847004e-03,
         3.55962448e-03,   3.24787051e-03,   2.63796509e-03,
         4.50271661e-03,   1.01960780e-03,   7.55389735e-03,
         2.24254695e-03,   1.90953276e-03,   4.75676651e-03,
         3.73940889e-03,   5.04669678e-03,   5.96372016e-03,
         3.98323386e-03,   4.06043452e-03,   1.62563665e-03,
         2.36067448e-03,   6.51317447e-03,   4.98936292e-03,
         3.58055276e-03,   5.87166698e-05,   2.88236881e-05,
         4.82920832e-03,   3.76639215e-03,   3.72562510e-03,
         4.15857480e-03,   4.55203774e-03,   5.05050618e-03,
         5.92309918e-03,   0.00000000e+00,   5.38034422e-03,
         5.00965573e-03,   5.18729955e-03,   9.69191784e-04,
         1.85519541e-03,   5.59645682e-03,   1.20081458e-04,
         2.54244597e-03,   6.19674622e-03,   3.37746488e-03,
         5.61654652e-03,   6.09805805e-03,   5.48422151e-03,
         4.16997673e-03,   4.15561310e-03,   5.34717533e-03,
         3.00973586e-03,   3.55371660e-03,   1.54798974e-03,
         3.76558489e-03,   4.83384809e-03,   4.07089819e-03,
         5.83930206e-03,   1.23766912e-03,   4.54882026e-03,
         4.13257279e-03,   2.05389039e-03,   1.55943143e-03,
         5.18507607e-02,   8.85127538e-02,   6.32325411e-02,
         2.37813949e-02,   2.17118212e-02,   9.22657479e-03,
         7.20825517e-02,   4.02324369e-02,   2.07878877e-03,
         1.43979076e-02,   4.46862085e-02,   4.02558471e-02,
         7.94953167e-02,   6.39389663e-02])

## Compatibility Issues

In [10]:
import re
def convert(name):
    s1 = re.sub('(.)([A-Z][a-z]+)', r'\1_\2', name)
    return re.sub('([a-z0-9])([A-Z])', r'\1_\2', s1).lower()

In [11]:
df.columns = [convert(i) for i in df.columns]

In [12]:
import numpy as np

In [13]:
df = df.rename(columns={'collections12_mths_ex_med': 
    'collections_12_mths_ex_med', 'loan_amount': 'loan_amnt',
    'delinq2_yrs': 'delinq_2yrs', 'inq_last6_mths':'inq_last_6mths',
                       'addr_zip':'zip_code'})

In [14]:
df['ratio_mth_inc_all_payments'] = (df.installment + df.revol_bal * .02) / (df.annual_inc / 12)

In [15]:
df.columns

Index(['acc_now_delinq', 'acc_open_past24_mths', 'accept_d', 'addr_state',
       'zip_code', 'annual_inc', 'annual_inc_joint', 'application_type',
       'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within12_mths',
       'collections_12_mths_ex_med', 'credit_pull_d', 'delinq_2yrs',
       'delinq_amnt', 'desc', 'dti', 'dti_joint', 'earliest_cr_line',
       'emp_length', 'emp_title', 'exp_d', 'exp_default_rate',
       'fico_range_high', 'fico_range_low', 'funded_amount', 'grade',
       'home_ownership', 'id', 'ils_exp_d', 'initial_list_status',
       'inq_last_6mths', 'installment', 'int_rate', 'investor_count',
       'is_inc_v', 'is_inc_v_joint', 'list_d', 'loan_amnt', 'member_id',
       'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op',
       'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_last_delinq',
       'mths_since_last_major_derog', 'mths_since_last_record',
       'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever120_ppd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt0', 'num_sats', 'num_tl120dpd2m',
       'num_tl30dpd', 'num_tl90g_dpd24m', 'num_tl_op_past12m', 'open_acc',
       'pct_tl_nvr_dlq', 'percent_bc_gt75', 'pub_rec', 'pub_rec_bankruptcies',
       'purpose', 'review_status', 'review_status_d', 'revol_bal',
       'revol_util', 'service_fee_rate', 'sub_grade', 'tax_liens', 'term',
       'tot_coll_amt', 'tot_cur_bal', 'tot_hi_cred_lim', 'total_acc',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit',
       'total_rev_hi_lim', 'year_issued', 'month_issued', 'delinq',
       'ratio_mth_inc_all_payments'],
      dtype='object')

## Processing

In [19]:
df.emp_length = df.emp_length / 12

In [40]:
import sys
sys.path

['',
 '/Users/Will/Devel/metis/lc/“',
 '/Users/Will/Devel',
 '/Users/Will/scripts”',
 '/Users/Will/anaconda/envs/py34/lib/python34.zip',
 '/Users/Will/anaconda/envs/py34/lib/python3.4',
 '/Users/Will/anaconda/envs/py34/lib/python3.4/plat-darwin',
 '/Users/Will/anaconda/envs/py34/lib/python3.4/lib-dynload',
 '/Users/Will/anaconda/envs/py34/lib/python3.4/site-packages/Sphinx-1.3.1-py3.4.egg',
 '/Users/Will/anaconda/envs/py34/lib/python3.4/site-packages/setuptools-18.4-py3.4.egg',
 '/Users/Will/anaconda/envs/py34/lib/python3.4/site-packages',
 '/Users/Will/anaconda/envs/py34/lib/python3.4/site-packages/aeosa',
 '/Users/Will/anaconda/envs/py34/lib/python3.4/site-packages/IPython/extensions',
 '/Users/Will/.ipython',
 '../scripts',
 'scripts']

In [44]:
model.create_matrix()

AttributeError: 'module' object has no attribute 'create_matrix'

In [33]:
from app.process_api import process_columns, rename_columns

ImportError: cannot import name 'create_matrix'

In [24]:
df = clean_columns(df)
df = category_processing(df)

Cleaning Columns. This takes minutes due to a large number of string operations.

TypeError: Cannot compare types 'ndarray(dtype=float64)' and 'str'

In [21]:
df

,acc_now_delinq,acc_open_past24_mths,accept_d,addr_state,zip_code,annual_inc,annual_inc_joint,application_type,avg_cur_bal,bc_open_to_buy,...,tot_hi_cred_lim,total_acc,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,total_rev_hi_lim,year_issued,month_issued,delinq,ratio_mth_inc_all_payments
0,0,3,2015-10-25T17:13:15.000-07:00,FL,327,20000,NaN,INDIVIDUAL,805,2077,...,9200,11,4025,5800,0,9200,2015,11,2,0.146502
1,0,2,2015-10-26T13:34:14.000-07:00,NY,100,50000,NaN,INDIVIDUAL,1193,5565,...,26950,27,10735,6100,15450,11500,2015,11,2,0.046951
2,0,0,2015-10-26T09:58:32.000-07:00,TN,379,48000,NaN,INDIVIDUAL,16304,1696,...,161600,12,9082,7100,10000,9100,2015,11,2,0.115792
3,0,6,2015-10-27T04:34:13.000-07:00,OK,735,101000,NaN,INDIVIDUAL,23503,62917,...,472806,47,119591,91300,125406,99500,2015,11,2,0.181094
4,0,4,2015-10-26T18:54:58.000-07:00,CA,917,120000,NaN,INDIVIDUAL,96813,615,...,495678,13,86372,5000,82678,8000,2015,11,2,0.050179
5,0,5,2015-10-25T18:19:43.000-07:00,FL,331,25000,NaN,INDIVIDUAL,11049,32967,...,155886,29,121542,34400,116486,39400,2015,11,2,0.125918
6,0,9,2015-10-26T15:49:22.000-07:00,CA,925,28000,NaN,INDIVIDUAL,934,2134,...,23991,41,11208,8300,5991,18000,2015,11,2,0.139667
7,0,1,2015-10-26T12:30:22.000-07:00,NY,112,77000,NaN,INDIVIDUAL,2473,9000,...,45000,9,12367,45000,0,45000,2015,11,2,0.090525
8,0,3,2015-10-25T15:18:03.000-07:00,CO,809,50500,NaN,INDIVIDUAL,10149,NaN,...,44708,13,30448,0,34708,10000,2015,11,2,0.141757
9,0,5,2015-10-27T15:21:00.000-07:00,KS,666,48276,NaN,INDIVIDUAL,19611,447,...,230221,32,19290,7700,0,28500,2015,11,2,0.147974
10,0,1,2015-10-25T12:01:37.000-07:00,HI,967,40000,NaN,INDIVIDUAL,2825,11641,...,32236,17,14126,22400,9836,22400,2015,11,2,0.123939
11,0,10,2015-10-26T19:29:00.000-07:00,NY,117,155000,NaN,INDIVIDUAL,3768,1598,...,68668,54,64070,6390,53518,15150,2015,11,2,0.088750
12,0,11,2015-10-27T17:00:54.000-07:00,NV,890,40217,NaN,INDIVIDUAL,14354,1664,...,234092,32,10083,11650,17067,15500,2015,11,2,0.125517
13,0,0,2015-10-25T19:23:32.000-07:00,NY,112,100000,NaN,INDIVIDUAL,8443,0,...,36800,8,33770,28800,8000,28800,2015,11,2,0.173090
14,0,6,2015-10-25T12:45:06.000-07:00,NV,891,72000,NaN,INDIVIDUAL,20343,11268,...,287554,20,75329,35800,61892,45300,2015,11,2,0.152520
15,0,4,2015-10-25T22:03:29.000-07:00,OR,970,48000,NaN,INDIVIDUAL,1229,944,...,16900,21,9834,9400,0,16900,2015,11,2,0.129827
16,0,5,2015-10-25T14:32:40.000-07:00,OH,443,61450,NaN,INDIVIDUAL,1901,7209,...,52511,17,26613,17900,19711,32800,2015,11,2,0.101689
17,0,1,2015-10-25T10:39:55.000-07:00,NC,278,50000,120000,JOINT,6097,2740,...,43952,24,36580,5300,38652,5300,2015,11,2,0.065846
18,0,3,2015-10-26T08:36:56.000-07:00,FL,336,35000,NaN,INDIVIDUAL,13002,10002,...,124700,13,8198,18200,0,18200,2015,11,2,0.163941
19,0,2,2015-10-26T04:55:02.000-07:00,PA,189,29000,NaN,INDIVIDUAL,2278,1057,...,19084,7,11390,1200,12884,6200,2015,11,2,0.148680
20,0,0,2015-10-25T13:56:06.000-07:00,NY,114,75000,NaN,INDIVIDUAL,4820,3479,...,38213,15,28919,15900,22313,15900,2015,11,2,0.089070
21,0,1,2015-10-26T12:53:23.000-07:00,CA,914,50400,NaN,INDIVIDUAL,4586,444,...,38497,10,22930,15100,23397,15100,2015,11,2,0.179964
22,0,2,2015-10-26T11:31:11.000-07:00,MI,481,60000,NaN,INDIVIDUAL,15082,4659,...,242804,29,68397,30600,40709,44400,2015,11,2,0.226562
23,0,4,2015-10-26T16:37:24.000-07:00,LA,701,35000,NaN,INDIVIDUAL,2222,1110,...,19800,12,19998,4700,14000,5800,2015,11,2,0.078480
24,0,2,2015-10-27T13:54:45.000-07:00,NC,270,30000,NaN,INDIVIDUAL,2976,1374,...,34107,15,26781,4300,26107,8000,2015,11,2,0.092628
25,0,4,2015-10-25T16:00:05.000-07:00,CA,946,45000,NaN,INDIVIDUAL,5376,16720,...,78227,12,53762,28700,49027,29200,2015,11,2,0.130339
26,0,2,2015-10-26T22:28:58.000-07:00,IL,600,26000,NaN,INDIVIDUAL,4111,1166,...,13500,6,12334,13500,0,13500,2015,11,2,0.247357
27,0,5,2015-10-25T10:12:14.000-07:00,GA,302,40000,NaN,INDIVIDUAL,30883,164,...,229895,32,41761,4300,44458,7300,2015,11,2,0.091992
28,0,4,2015-10-25T10:35:57.000-07:00,WV,247,98000,NaN,INDIVIDUAL,6948,3193,...,123415,18,90327,16200,68915,54500,2015,11,2,0.172236
29,0,2,2015-10-26T17:48:10.000-07:00,AZ,852,180000,NaN,INDIVIDUAL,26220,5123,...,358267,26,50746,44800,19467,61800,2015,11,2,0.076599
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,0,7,2015-10-27T15:33:39.000-07:00,AL,351,80000,NaN,INDIVIDUAL,24731,5116,...,193485,21,57246,28400,38604,29200,2015,11,2,0.173004
571,0,1,2015-10-21T15:59:16.000-07:00,GA,301,60000,NaN,INDIVIDUAL,7319,8393,...,87623,20,73189,43800,38623,49000,2015,11,2,0.277366
572,0,7,2015-10-28T05:15:58.000-07:00,MA,014,280000,NaN,INDIVIDUAL,27981,9048,...,439275,21,80468,51900,45000,59900,2015,11,2,0.069624
573,0,2,2015-10-28T04:44:35.000-07:00,GA,301,131000,NaN,INDIVIDUAL,20747,5139,...,455789,29,163510,49200,107669,124200,2015,11,2,0.282825
574,0,12,2015-10-27T08:06:53.000-07:00,FL,325,138000,NaN,INDIVIDUAL,7773,5382,...,179027,32,94699,7000,98727,17900,2015,11,2,0.095665
575,0,2,2015-10-27T19:40:42.000-07:00,NY,117,72000,NaN,INDIVIDUAL,2224,4889,...,70300,25,33354,14400,44100,26200,2015,11,2,0.153172
576,0,2,2015-10-27T15:04:24.000-07:00,MO,655,71000,NaN,INDIVIDUAL,7726,16716,...,183000,18,38439,47300,0,101500,2015,11,2,0.243468
577,0,7,2015-10-27T11:23:39.000-07:00,PA,154,82000,NaN,INDIVIDUAL,2549,7907,...,73900,33,50977,47600,10000,63900,2015,11,2,0.241320
578,0,2,2015-10-27T15:55:26.000-07:00,CA,913,156000,NaN,INDIVIDUAL,2156,0,...,46900,33,32339,10400,22000,24900,2015,11,2,0.090765
579,0,1,2015-10-27T06:06:37.000-07:00,MI,480,85000,NaN,INDIVIDUAL,25502,12500,...,215049,21,60896,37500,24773,60708,2015,11,2,0.248178
580,0,5,2015-10-27T03:54:36.000-07:00,SC,295,100000,NaN,INDIVIDUAL,5781,57604,...,145638,14,75156,85600,60038,85600,2015,11,2,0.162373
581,0,4,2015-10-26T08:21:22.000-07:00,MD,210,80000,NaN,INDIVIDUAL,5703,55127,...,191162,41,96952,82200,0,177700,2015,11,2,0.454030
582,0,0,2015-10-27T21:28:20.000-07:00,CA,921,83200,NaN,INDIVIDUAL,3534,4533,...,31200,8,24741,27200,0,31200,2015,11,2,0.161546
583,0,7,2015-10-27T09:42:13.000-07:00,CO,800,80000,NaN,INDIVIDUAL,3078,7321,...,105989,34,67712,36000,53189,52800,2015,11,2,0.224548
584,0,1,2015-10-27T14:29:43.000-07:00,TX,765,107000,NaN,INDIVIDUAL,14022,3655,...,372005,61,57557,54825,3999,68925,2015,11,2,0.198096
585,0,5,2015-10-27T11:46:22.000-07:00,MN,554,150000,NaN,INDIVIDUAL,4937,4072,...,76513,20,64182,40700,34813,41700,2015,11,2,0.131603
586,0,3,2015-10-27T11:07:19.000-07:00,GA,303,120000,NaN,INDIVIDUAL,4149,4664,...,40700,14,29042,14700,1300,37000,2015,11,2,0.126916
587,0,2,2015-10-27T10:59:34.000-07:00,CA,945,112000,NaN,INDIVIDUAL,82751,19500,...,591300,27,58607,58500,0,61300,2015,11,2,0.216004
588,0,9,2015-10-27T07:57:16.000-07:00,WA,983,144000,NaN,INDIVIDUAL,16597,6449,...,357952,47,76797,40200,57435,43800,2015,11,2,0.128657
589,0,6,2015-10-28T05:24:32.000-07:00,RI,028,83200,NaN,INDIVIDUAL,4102,16197,...,75300,18,53321,51200,22000,53300,2015,11,2,0.219744
590,0,7,2015-10-28T04:34:31.000-07:00,NY,104,80000,NaN,INDIVIDUAL,10023,5977,...,133223,21,100229,15400,115523,17700,2015,11,2,0.169983
591,0,7,2015-10-27T11:59:02.000-07:00,TX,775,300000,NaN,INDIVIDUAL,25753,177,...,352579,27,131579,5200,121757,48600,2015,11,2,0.053203
592,0,8,2015-10-27T20:24:46.000-07:00,TX,750,120000,NaN,INDIVIDUAL,20478,28491,...,410167,40,83698,57900,42028,102900,2015,11,2,0.175766
593,0,5,2015-10-28T06:48:43.000-07:00,TX,770,105000,NaN,INDIVIDUAL,16857,22516,...,473923,47,102492,39900,64710,94600,2015,11,2,0.229414
594,0,7,2015-10-27T09:03:05.000-07:00,FL,334,80000,NaN,INDIVIDUAL,19859,9640,...,549261,39,99213,48200,64271,139441,2015,11,2,0.302897
595,0,3,2015-10-25T13:03:53.000-07:00,CT,068,129000,NaN,INDIVIDUAL,46147,7344,...,559869,38,42149,51405,12455,160505,2015,11,2,0.349749
596,0,2,2015-10-27T18:13:11.000-07:00,FL,328,93000,NaN,INDIVIDUAL,14644,3075,...,296243,18,56927,27800,69223,38400,2015,11,2,0.190939
597,0,1,2015-10-27T14:45:01.000-07:00,GA,306,122000,NaN,INDIVIDUAL,27538,7029,...,370114,23,48251,28600,47514,28600,2015,11,2,0.123704
598,0,9,2015-10-27T15:08:35.000-07:00,MI,480,90000,NaN,INDIVIDUAL,20756,3211,...,279489,41,28580,9500,39716,16700,2015,11,2,0.127560
599,0,4,2015-10-28T06:11:02.000-07:00,IN,460,200000,NaN,INDIVIDUAL,41213,6275,...,776612,28,41274,25100,48414,226700,2015,11,2,0.274792

## Converting the Matrix

In [16]:
y, X = create_matrix(df)

In [29]:
df.home_ownership.value_counts()

RENT        260
MORTGAGE    256
OWN          84
Name: home_ownership, dtype: int64

In [32]:
X.columns

NameError: name 'X' is not defined

In [31]:
df.home_ownership = df.home_ownership.astype('category')

In [21]:
for i in X.columns:
    print(i)

Intercept
C(home_ownership)[T.OWN]
C(home_ownership)[T.RENT]
C(grade)[T.B]
C(grade)[T.C]
C(grade)[T.D]
C(grade)[T.E]
C(grade)[T.G]
C(purpose)[T.credit_card]
C(purpose)[T.debt_consolidation]
C(purpose)[T.home_improvement]
C(purpose)[T.house]
C(purpose)[T.major_purchase]
C(purpose)[T.medical]
C(purpose)[T.moving]
C(purpose)[T.other]
C(purpose)[T.renewable_energy]
C(purpose)[T.small_business]
C(purpose)[T.vacation]
C(addr_state)[T.AL]
C(addr_state)[T.AR]
C(addr_state)[T.AZ]
C(addr_state)[T.CA]
C(addr_state)[T.CO]
C(addr_state)[T.CT]
C(addr_state)[T.DC]
C(addr_state)[T.DE]
C(addr_state)[T.FL]
C(addr_state)[T.GA]
C(addr_state)[T.HI]
C(addr_state)[T.IL]
C(addr_state)[T.IN]
C(addr_state)[T.KS]
C(addr_state)[T.KY]
C(addr_state)[T.LA]
C(addr_state)[T.MA]
C(addr_state)[T.MD]
C(addr_state)[T.ME]
C(addr_state)[T.MI]
C(addr_state)[T.MN]
C(addr_state)[T.MO]
C(addr_state)[T.MS]
C(addr_state)[T.MT]
C(addr_state)[T.NC]
C(addr_state)[T.ND]
C(addr_state)[T.NE]
C(addr_state)[T.NH]
C(addr_state)[T.NJ]
C(addr_state)[T.NV]
C(addr_state)[T.NY]
C(addr_state)[T.OH]
C(addr_state)[T.OK]
C(addr_state)[T.OR]
C(addr_state)[T.PA]
C(addr_state)[T.RI]
C(addr_state)[T.SC]
C(addr_state)[T.SD]
C(addr_state)[T.TN]
C(addr_state)[T.TX]
C(addr_state)[T.UT]
C(addr_state)[T.VA]
C(addr_state)[T.WA]
C(addr_state)[T.WI]
C(addr_state)[T.WV]
C(addr_state)[T.WY]
earliest_cr_line[T.1969-02-26T16:00:00.000-08:00]
earliest_cr_line[T.1972-05-26T17:00:00.000-07:00]
earliest_cr_line[T.1972-10-26T17:00:00.000-07:00]
earliest_cr_line[T.1973-03-25T16:00:00.000-08:00]
earliest_cr_line[T.1973-03-27T16:00:00.000-08:00]
earliest_cr_line[T.1973-06-22T17:00:00.000-07:00]
earliest_cr_line[T.1977-01-26T16:00:00.000-08:00]
earliest_cr_line[T.1977-07-25T17:00:00.000-07:00]
earliest_cr_line[T.1977-10-25T17:00:00.000-07:00]
earliest_cr_line[T.1978-06-18T17:00:00.000-07:00]
earliest_cr_line[T.1978-07-26T17:00:00.000-07:00]
earliest_cr_line[T.1978-08-25T17:00:00.000-07:00]
earliest_cr_line[T.1978-11-26T16:00:00.000-08:00]
earliest_cr_line[T.1979-03-27T16:00:00.000-08:00]
earliest_cr_line[T.1979-11-23T16:00:00.000-08:00]
earliest_cr_line[T.1979-12-26T16:00:00.000-08:00]
earliest_cr_line[T.1979-12-27T16:00:00.000-08:00]
earliest_cr_line[T.1981-04-27T17:00:00.000-07:00]
earliest_cr_line[T.1981-09-23T17:00:00.000-07:00]
earliest_cr_line[T.1982-08-25T17:00:00.000-07:00]
earliest_cr_line[T.1982-09-26T17:00:00.000-07:00]
earliest_cr_line[T.1982-09-27T17:00:00.000-07:00]
earliest_cr_line[T.1982-10-26T17:00:00.000-07:00]
earliest_cr_line[T.1982-10-27T17:00:00.000-07:00]
earliest_cr_line[T.1982-12-27T16:00:00.000-08:00]
earliest_cr_line[T.1983-03-26T16:00:00.000-08:00]
earliest_cr_line[T.1983-04-26T17:00:00.000-07:00]
earliest_cr_line[T.1983-04-27T17:00:00.000-07:00]
earliest_cr_line[T.1983-08-27T17:00:00.000-07:00]
earliest_cr_line[T.1983-09-22T17:00:00.000-07:00]
earliest_cr_line[T.1983-09-25T17:00:00.000-07:00]
earliest_cr_line[T.1984-04-26T16:00:00.000-08:00]
earliest_cr_line[T.1984-05-21T17:00:00.000-07:00]
earliest_cr_line[T.1984-05-25T17:00:00.000-07:00]
earliest_cr_line[T.1984-08-24T17:00:00.000-07:00]
earliest_cr_line[T.1984-08-26T17:00:00.000-07:00]
earliest_cr_line[T.1984-08-27T17:00:00.000-07:00]
earliest_cr_line[T.1984-12-26T16:00:00.000-08:00]
earliest_cr_line[T.1985-02-27T16:00:00.000-08:00]
earliest_cr_line[T.1985-03-22T16:00:00.000-08:00]
earliest_cr_line[T.1985-05-24T17:00:00.000-07:00]
earliest_cr_line[T.1985-07-27T17:00:00.000-07:00]
earliest_cr_line[T.1985-09-25T17:00:00.000-07:00]
earliest_cr_line[T.1985-09-26T17:00:00.000-07:00]
earliest_cr_line[T.1985-10-26T17:00:00.000-07:00]
earliest_cr_line[T.1985-11-26T16:00:00.000-08:00]
earliest_cr_line[T.1986-04-25T16:00:00.000-08:00]
earliest_cr_line[T.1986-09-20T17:00:00.000-07:00]
earliest_cr_line[T.1986-11-23T16:00:00.000-08:00]
earliest_cr_line[T.1987-02-26T16:00:00.000-08:00]
earliest_cr_line[T.1987-04-26T17:00:00.000-07:00]
earliest_cr_line[T.1987-05-26T17:00:00.000-07:00]
earliest_cr_line[T.1987-06-24T17:00:00.000-07:00]
earliest_cr_line[T.1987-07-25T17:00:00.000-07:00]
earliest_cr_line[T.1987-07-26T17:00:00.000-07:00]
earliest_cr_line[T.1987-09-27T17:00:00.000-07:00]
earliest_cr_line[T.1987-11-26T16:00:00.000-08:00]
earliest_cr_line[T.1987-12-27T16:00:00.000-08:00]
earliest_cr_line[T.1988-03-27T16:00:00.000-08:00]
earliest_cr_line[T.1988-05-26T17:00:00.000-07:00]
earliest_cr_line[T.1988-06-22T17:00:00.000-07:00]
earliest_cr_line[T.1988-07-22T17:00:00.000-07:00]
earliest_cr_line[T.1988-08-23T17:00:00.000-07:00]
earliest_cr_line[T.1988-09-27T17:00:00.000-07:00]
earliest_cr_line[T.1988-10-26T17:00:00.000-07:00]
earliest_cr_line[T.1988-10-27T17:00:00.000-07:00]
earliest_cr_line[T.1989-02-27T16:00:00.000-08:00]
earliest_cr_line[T.1989-04-26T17:00:00.000-07:00]
earliest_cr_line[T.1989-04-27T17:00:00.000-07:00]
earliest_cr_line[T.1989-05-26T17:00:00.000-07:00]
earliest_cr_line[T.1989-06-27T17:00:00.000-07:00]
earliest_cr_line[T.1989-08-27T17:00:00.000-07:00]
earliest_cr_line[T.1989-09-26T17:00:00.000-07:00]
earliest_cr_line[T.1989-10-26T17:00:00.000-07:00]
earliest_cr_line[T.1989-11-24T16:00:00.000-08:00]
earliest_cr_line[T.1990-04-26T17:00:00.000-07:00]
earliest_cr_line[T.1990-05-26T17:00:00.000-07:00]
earliest_cr_line[T.1990-07-24T17:00:00.000-07:00]
earliest_cr_line[T.1990-08-27T17:00:00.000-07:00]
earliest_cr_line[T.1990-09-25T17:00:00.000-07:00]
earliest_cr_line[T.1990-10-26T17:00:00.000-07:00]
earliest_cr_line[T.1990-11-27T16:00:00.000-08:00]
earliest_cr_line[T.1991-03-26T16:00:00.000-08:00]
earliest_cr_line[T.1991-04-23T17:00:00.000-07:00]
earliest_cr_line[T.1991-04-25T17:00:00.000-07:00]
earliest_cr_line[T.1991-04-26T17:00:00.000-07:00]
earliest_cr_line[T.1991-06-27T17:00:00.000-07:00]
earliest_cr_line[T.1991-07-26T17:00:00.000-07:00]
earliest_cr_line[T.1991-08-26T17:00:00.000-07:00]
earliest_cr_line[T.1991-10-26T17:00:00.000-07:00]
earliest_cr_line[T.1991-11-26T16:00:00.000-08:00]
earliest_cr_line[T.1992-01-26T16:00:00.000-08:00]
earliest_cr_line[T.1992-02-25T16:00:00.000-08:00]
earliest_cr_line[T.1992-04-25T17:00:00.000-07:00]
earliest_cr_line[T.1992-04-26T17:00:00.000-07:00]
earliest_cr_line[T.1992-05-26T17:00:00.000-07:00]
earliest_cr_line[T.1992-07-26T17:00:00.000-07:00]
earliest_cr_line[T.1992-07-27T17:00:00.000-07:00]
earliest_cr_line[T.1992-08-27T17:00:00.000-07:00]
earliest_cr_line[T.1992-11-24T16:00:00.000-08:00]
earliest_cr_line[T.1992-11-26T16:00:00.000-08:00]
earliest_cr_line[T.1993-01-22T16:00:00.000-08:00]
earliest_cr_line[T.1993-02-26T16:00:00.000-08:00]
earliest_cr_line[T.1993-03-23T16:00:00.000-08:00]
earliest_cr_line[T.1993-04-26T17:00:00.000-07:00]
earliest_cr_line[T.1993-04-27T17:00:00.000-07:00]
earliest_cr_line[T.1993-05-14T17:00:00.000-07:00]
earliest_cr_line[T.1993-05-25T17:00:00.000-07:00]
earliest_cr_line[T.1993-05-27T17:00:00.000-07:00]
earliest_cr_line[T.1993-06-26T17:00:00.000-07:00]
earliest_cr_line[T.1993-07-23T17:00:00.000-07:00]
earliest_cr_line[T.1993-07-25T17:00:00.000-07:00]
earliest_cr_line[T.1993-07-26T17:00:00.000-07:00]
earliest_cr_line[T.1993-08-22T17:00:00.000-07:00]
earliest_cr_line[T.1993-08-24T17:00:00.000-07:00]
earliest_cr_line[T.1993-08-26T17:00:00.000-07:00]
earliest_cr_line[T.1993-09-26T17:00:00.000-07:00]
earliest_cr_line[T.1993-11-25T16:00:00.000-08:00]
earliest_cr_line[T.1993-11-26T16:00:00.000-08:00]
earliest_cr_line[T.1993-12-25T16:00:00.000-08:00]
earliest_cr_line[T.1994-01-27T16:00:00.000-08:00]
earliest_cr_line[T.1994-02-27T16:00:00.000-08:00]
earliest_cr_line[T.1994-03-21T16:00:00.000-08:00]
earliest_cr_line[T.1994-03-24T16:00:00.000-08:00]
earliest_cr_line[T.1994-03-26T16:00:00.000-08:00]
earliest_cr_line[T.1994-05-25T17:00:00.000-07:00]
earliest_cr_line[T.1994-05-26T17:00:00.000-07:00]
earliest_cr_line[T.1994-07-26T17:00:00.000-07:00]
earliest_cr_line[T.1994-08-27T17:00:00.000-07:00]
earliest_cr_line[T.1994-09-25T17:00:00.000-07:00]
earliest_cr_line[T.1994-09-26T17:00:00.000-07:00]
earliest_cr_line[T.1994-09-27T17:00:00.000-07:00]
earliest_cr_line[T.1994-10-24T17:00:00.000-07:00]
earliest_cr_line[T.1994-10-27T17:00:00.000-07:00]
earliest_cr_line[T.1994-11-26T16:00:00.000-08:00]
earliest_cr_line[T.1994-12-26T16:00:00.000-08:00]
earliest_cr_line[T.1994-12-27T16:00:00.000-08:00]
earliest_cr_line[T.1995-02-26T16:00:00.000-08:00]
earliest_cr_line[T.1995-02-27T16:00:00.000-08:00]
earliest_cr_line[T.1995-03-26T16:00:00.000-08:00]
earliest_cr_line[T.1995-05-26T17:00:00.000-07:00]
earliest_cr_line[T.1995-07-25T17:00:00.000-07:00]
earliest_cr_line[T.1995-07-26T17:00:00.000-07:00]
earliest_cr_line[T.1995-08-25T17:00:00.000-07:00]
earliest_cr_line[T.1995-08-27T17:00:00.000-07:00]
earliest_cr_line[T.1995-09-26T17:00:00.000-07:00]
earliest_cr_line[T.1995-10-26T17:00:00.000-07:00]
earliest_cr_line[T.1995-10-27T17:00:00.000-07:00]
earliest_cr_line[T.1995-11-26T16:00:00.000-08:00]
earliest_cr_line[T.1995-12-27T16:00:00.000-08:00]
earliest_cr_line[T.1996-01-27T16:00:00.000-08:00]
earliest_cr_line[T.1996-03-24T16:00:00.000-08:00]
earliest_cr_line[T.1996-03-25T16:00:00.000-08:00]
earliest_cr_line[T.1996-04-26T17:00:00.000-07:00]
earliest_cr_line[T.1996-04-27T17:00:00.000-07:00]
earliest_cr_line[T.1996-05-26T17:00:00.000-07:00]
earliest_cr_line[T.1996-05-27T17:00:00.000-07:00]
earliest_cr_line[T.1996-06-23T17:00:00.000-07:00]
earliest_cr_line[T.1996-06-27T17:00:00.000-07:00]
earliest_cr_line[T.1996-07-26T17:00:00.000-07:00]
earliest_cr_line[T.1996-08-22T17:00:00.000-07:00]
earliest_cr_line[T.1996-08-24T17:00:00.000-07:00]
earliest_cr_line[T.1996-08-27T17:00:00.000-07:00]
earliest_cr_line[T.1996-09-25T17:00:00.000-07:00]
earliest_cr_line[T.1996-09-26T17:00:00.000-07:00]
earliest_cr_line[T.1996-09-27T17:00:00.000-07:00]
earliest_cr_line[T.1996-10-24T17:00:00.000-07:00]
earliest_cr_line[T.1996-10-25T17:00:00.000-07:00]
earliest_cr_line[T.1996-11-22T16:00:00.000-08:00]
earliest_cr_line[T.1996-11-27T16:00:00.000-08:00]
earliest_cr_line[T.1996-12-26T16:00:00.000-08:00]
earliest_cr_line[T.1997-01-25T16:00:00.000-08:00]
earliest_cr_line[T.1997-01-27T16:00:00.000-08:00]
earliest_cr_line[T.1997-02-23T16:00:00.000-08:00]
earliest_cr_line[T.1997-03-26T16:00:00.000-08:00]
earliest_cr_line[T.1997-04-20T17:00:00.000-07:00]
earliest_cr_line[T.1997-04-24T17:00:00.000-07:00]
earliest_cr_line[T.1997-05-21T17:00:00.000-07:00]
earliest_cr_line[T.1997-05-25T17:00:00.000-07:00]
earliest_cr_line[T.1997-06-25T17:00:00.000-07:00]
earliest_cr_line[T.1997-06-26T17:00:00.000-07:00]
earliest_cr_line[T.1997-07-25T17:00:00.000-07:00]
earliest_cr_line[T.1997-08-26T17:00:00.000-07:00]
earliest_cr_line[T.1997-10-26T16:00:00.000-08:00]
earliest_cr_line[T.1997-10-27T16:00:00.000-08:00]
earliest_cr_line[T.1997-11-22T16:00:00.000-08:00]
earliest_cr_line[T.1997-11-26T16:00:00.000-08:00]
earliest_cr_line[T.1997-12-24T16:00:00.000-08:00]
earliest_cr_line[T.1998-01-23T16:00:00.000-08:00]
earliest_cr_line[T.1998-01-27T16:00:00.000-08:00]
earliest_cr_line[T.1998-02-26T16:00:00.000-08:00]
earliest_cr_line[T.1998-03-24T16:00:00.000-08:00]
earliest_cr_line[T.1998-03-25T16:00:00.000-08:00]
earliest_cr_line[T.1998-04-21T17:00:00.000-07:00]
earliest_cr_line[T.1998-04-23T17:00:00.000-07:00]
earliest_cr_line[T.1998-04-26T17:00:00.000-07:00]
earliest_cr_line[T.1998-05-23T17:00:00.000-07:00]
earliest_cr_line[T.1998-06-25T17:00:00.000-07:00]
earliest_cr_line[T.1998-06-26T17:00:00.000-07:00]
earliest_cr_line[T.1998-06-27T17:00:00.000-07:00]
earliest_cr_line[T.1998-08-24T17:00:00.000-07:00]
earliest_cr_line[T.1998-08-26T17:00:00.000-07:00]
earliest_cr_line[T.1998-08-27T17:00:00.000-07:00]
earliest_cr_line[T.1998-09-27T17:00:00.000-07:00]
earliest_cr_line[T.1998-10-21T17:00:00.000-07:00]
earliest_cr_line[T.1998-10-25T16:00:00.000-08:00]
earliest_cr_line[T.1998-10-26T16:00:00.000-08:00]
earliest_cr_line[T.1998-10-27T16:00:00.000-08:00]
earliest_cr_line[T.1998-11-19T16:00:00.000-08:00]
earliest_cr_line[T.1998-11-27T16:00:00.000-08:00]
earliest_cr_line[T.1998-12-20T16:00:00.000-08:00]
earliest_cr_line[T.1998-12-23T16:00:00.000-08:00]
earliest_cr_line[T.1999-01-26T16:00:00.000-08:00]
earliest_cr_line[T.1999-01-27T16:00:00.000-08:00]
earliest_cr_line[T.1999-02-24T16:00:00.000-08:00]
earliest_cr_line[T.1999-02-25T16:00:00.000-08:00]
earliest_cr_line[T.1999-03-24T16:00:00.000-08:00]
earliest_cr_line[T.1999-03-26T16:00:00.000-08:00]
earliest_cr_line[T.1999-03-27T16:00:00.000-08:00]
earliest_cr_line[T.1999-04-23T17:00:00.000-07:00]
earliest_cr_line[T.1999-04-27T17:00:00.000-07:00]
earliest_cr_line[T.1999-05-24T17:00:00.000-07:00]
earliest_cr_line[T.1999-07-27T17:00:00.000-07:00]
earliest_cr_line[T.1999-08-23T17:00:00.000-07:00]
earliest_cr_line[T.1999-08-26T17:00:00.000-07:00]
earliest_cr_line[T.1999-08-27T17:00:00.000-07:00]
earliest_cr_line[T.1999-09-25T17:00:00.000-07:00]
earliest_cr_line[T.1999-09-26T17:00:00.000-07:00]
earliest_cr_line[T.1999-09-27T17:00:00.000-07:00]
earliest_cr_line[T.1999-10-26T17:00:00.000-07:00]
earliest_cr_line[T.1999-11-25T16:00:00.000-08:00]
earliest_cr_line[T.1999-11-27T16:00:00.000-08:00]
earliest_cr_line[T.1999-12-23T16:00:00.000-08:00]
earliest_cr_line[T.1999-12-24T16:00:00.000-08:00]
earliest_cr_line[T.1999-12-25T16:00:00.000-08:00]
earliest_cr_line[T.1999-12-26T16:00:00.000-08:00]
earliest_cr_line[T.1999-12-27T16:00:00.000-08:00]
earliest_cr_line[T.2000-01-25T16:00:00.000-08:00]
earliest_cr_line[T.2000-01-27T16:00:00.000-08:00]
earliest_cr_line[T.2000-02-24T16:00:00.000-08:00]
earliest_cr_line[T.2000-02-25T16:00:00.000-08:00]
earliest_cr_line[T.2000-02-26T16:00:00.000-08:00]
earliest_cr_line[T.2000-02-27T16:00:00.000-08:00]
earliest_cr_line[T.2000-03-21T16:00:00.000-08:00]
earliest_cr_line[T.2000-03-26T16:00:00.000-08:00]
earliest_cr_line[T.2000-03-27T16:00:00.000-08:00]
earliest_cr_line[T.2000-04-21T17:00:00.000-07:00]
earliest_cr_line[T.2000-04-27T17:00:00.000-07:00]
earliest_cr_line[T.2000-05-21T17:00:00.000-07:00]
earliest_cr_line[T.2000-05-25T17:00:00.000-07:00]
earliest_cr_line[T.2000-05-27T17:00:00.000-07:00]
earliest_cr_line[T.2000-06-21T17:00:00.000-07:00]
earliest_cr_line[T.2000-07-24T17:00:00.000-07:00]
earliest_cr_line[T.2000-07-26T17:00:00.000-07:00]
earliest_cr_line[T.2000-07-27T17:00:00.000-07:00]
earliest_cr_line[T.2000-08-25T17:00:00.000-07:00]
earliest_cr_line[T.2000-08-27T17:00:00.000-07:00]
earliest_cr_line[T.2000-09-26T17:00:00.000-07:00]
earliest_cr_line[T.2000-10-24T17:00:00.000-07:00]
earliest_cr_line[T.2000-10-25T17:00:00.000-07:00]
earliest_cr_line[T.2000-11-24T16:00:00.000-08:00]
earliest_cr_line[T.2000-11-25T16:00:00.000-08:00]
earliest_cr_line[T.2000-11-26T16:00:00.000-08:00]
earliest_cr_line[T.2000-11-27T16:00:00.000-08:00]
earliest_cr_line[T.2000-12-24T16:00:00.000-08:00]
earliest_cr_line[T.2000-12-26T16:00:00.000-08:00]
earliest_cr_line[T.2000-12-27T16:00:00.000-08:00]
earliest_cr_line[T.2001-01-24T16:00:00.000-08:00]
earliest_cr_line[T.2001-01-26T16:00:00.000-08:00]
earliest_cr_line[T.2001-01-27T16:00:00.000-08:00]
earliest_cr_line[T.2001-03-26T16:00:00.000-08:00]
earliest_cr_line[T.2001-03-27T16:00:00.000-08:00]
earliest_cr_line[T.2001-04-24T17:00:00.000-07:00]
earliest_cr_line[T.2001-04-26T17:00:00.000-07:00]
earliest_cr_line[T.2001-04-27T17:00:00.000-07:00]
earliest_cr_line[T.2001-06-27T17:00:00.000-07:00]
earliest_cr_line[T.2001-07-25T17:00:00.000-07:00]
earliest_cr_line[T.2001-07-26T17:00:00.000-07:00]
earliest_cr_line[T.2001-07-27T17:00:00.000-07:00]
earliest_cr_line[T.2001-08-25T17:00:00.000-07:00]
earliest_cr_line[T.2001-08-26T17:00:00.000-07:00]
earliest_cr_line[T.2001-09-24T17:00:00.000-07:00]
earliest_cr_line[T.2001-09-26T17:00:00.000-07:00]
earliest_cr_line[T.2001-11-26T16:00:00.000-08:00]
earliest_cr_line[T.2001-12-19T16:00:00.000-08:00]
earliest_cr_line[T.2001-12-26T16:00:00.000-08:00]
earliest_cr_line[T.2001-12-27T16:00:00.000-08:00]
earliest_cr_line[T.2002-01-26T16:00:00.000-08:00]
earliest_cr_line[T.2002-02-20T16:00:00.000-08:00]
earliest_cr_line[T.2002-02-22T16:00:00.000-08:00]
earliest_cr_line[T.2002-02-24T16:00:00.000-08:00]
earliest_cr_line[T.2002-02-27T16:00:00.000-08:00]
earliest_cr_line[T.2002-03-24T16:00:00.000-08:00]
earliest_cr_line[T.2002-03-25T16:00:00.000-08:00]
earliest_cr_line[T.2002-03-26T16:00:00.000-08:00]
earliest_cr_line[T.2002-03-27T16:00:00.000-08:00]
earliest_cr_line[T.2002-04-25T17:00:00.000-07:00]
earliest_cr_line[T.2002-04-27T17:00:00.000-07:00]
earliest_cr_line[T.2002-05-26T17:00:00.000-07:00]
earliest_cr_line[T.2002-05-27T17:00:00.000-07:00]
earliest_cr_line[T.2002-07-22T17:00:00.000-07:00]
earliest_cr_line[T.2002-07-26T17:00:00.000-07:00]
earliest_cr_line[T.2002-07-27T17:00:00.000-07:00]
earliest_cr_line[T.2002-08-26T17:00:00.000-07:00]
earliest_cr_line[T.2002-09-21T17:00:00.000-07:00]
earliest_cr_line[T.2002-09-24T17:00:00.000-07:00]
earliest_cr_line[T.2002-09-25T17:00:00.000-07:00]
earliest_cr_line[T.2002-09-26T17:00:00.000-07:00]
earliest_cr_line[T.2002-09-27T17:00:00.000-07:00]
earliest_cr_line[T.2002-10-22T17:00:00.000-07:00]
earliest_cr_line[T.2002-10-24T17:00:00.000-07:00]
earliest_cr_line[T.2002-10-26T17:00:00.000-07:00]
earliest_cr_line[T.2002-11-26T16:00:00.000-08:00]
earliest_cr_line[T.2002-12-26T16:00:00.000-08:00]
earliest_cr_line[T.2003-01-21T16:00:00.000-08:00]
earliest_cr_line[T.2003-01-26T16:00:00.000-08:00]
earliest_cr_line[T.2003-01-27T16:00:00.000-08:00]
earliest_cr_line[T.2003-02-25T16:00:00.000-08:00]
earliest_cr_line[T.2003-03-22T16:00:00.000-08:00]
earliest_cr_line[T.2003-03-25T16:00:00.000-08:00]
earliest_cr_line[T.2003-03-26T16:00:00.000-08:00]
earliest_cr_line[T.2003-04-21T17:00:00.000-07:00]
earliest_cr_line[T.2003-05-25T17:00:00.000-07:00]
earliest_cr_line[T.2003-05-26T17:00:00.000-07:00]
earliest_cr_line[T.2003-06-22T17:00:00.000-07:00]
earliest_cr_line[T.2003-06-26T17:00:00.000-07:00]
earliest_cr_line[T.2003-06-27T17:00:00.000-07:00]
earliest_cr_line[T.2003-07-26T17:00:00.000-07:00]
earliest_cr_line[T.2003-08-21T17:00:00.000-07:00]
earliest_cr_line[T.2003-08-26T17:00:00.000-07:00]
earliest_cr_line[T.2003-08-27T17:00:00.000-07:00]
earliest_cr_line[T.2003-09-24T17:00:00.000-07:00]
earliest_cr_line[T.2003-09-27T17:00:00.000-07:00]
earliest_cr_line[T.2003-10-25T17:00:00.000-07:00]
earliest_cr_line[T.2003-10-26T16:00:00.000-08:00]
earliest_cr_line[T.2003-10-27T16:00:00.000-08:00]
earliest_cr_line[T.2003-11-24T16:00:00.000-08:00]
earliest_cr_line[T.2003-11-27T16:00:00.000-08:00]
earliest_cr_line[T.2003-12-26T16:00:00.000-08:00]
earliest_cr_line[T.2003-12-27T16:00:00.000-08:00]
earliest_cr_line[T.2004-01-21T16:00:00.000-08:00]
earliest_cr_line[T.2004-01-26T16:00:00.000-08:00]
earliest_cr_line[T.2004-02-25T16:00:00.000-08:00]
earliest_cr_line[T.2004-02-26T16:00:00.000-08:00]
earliest_cr_line[T.2004-02-27T16:00:00.000-08:00]
earliest_cr_line[T.2004-03-26T16:00:00.000-08:00]
earliest_cr_line[T.2004-03-27T16:00:00.000-08:00]
earliest_cr_line[T.2004-04-20T17:00:00.000-07:00]
earliest_cr_line[T.2004-04-25T17:00:00.000-07:00]
earliest_cr_line[T.2004-04-26T17:00:00.000-07:00]
earliest_cr_line[T.2004-04-27T17:00:00.000-07:00]
earliest_cr_line[T.2004-05-25T17:00:00.000-07:00]
earliest_cr_line[T.2004-05-26T17:00:00.000-07:00]
earliest_cr_line[T.2004-06-26T17:00:00.000-07:00]
earliest_cr_line[T.2004-06-27T17:00:00.000-07:00]
earliest_cr_line[T.2004-07-20T17:00:00.000-07:00]
earliest_cr_line[T.2004-07-26T17:00:00.000-07:00]
earliest_cr_line[T.2004-08-21T17:00:00.000-07:00]
earliest_cr_line[T.2004-08-22T17:00:00.000-07:00]
earliest_cr_line[T.2004-08-24T17:00:00.000-07:00]
earliest_cr_line[T.2004-08-25T17:00:00.000-07:00]
earliest_cr_line[T.2004-08-27T17:00:00.000-07:00]
earliest_cr_line[T.2004-09-24T17:00:00.000-07:00]
earliest_cr_line[T.2004-09-26T17:00:00.000-07:00]
earliest_cr_line[T.2004-09-27T17:00:00.000-07:00]
earliest_cr_line[T.2004-10-26T17:00:00.000-07:00]
earliest_cr_line[T.2004-11-26T16:00:00.000-08:00]
earliest_cr_line[T.2004-11-27T16:00:00.000-08:00]
earliest_cr_line[T.2004-12-26T16:00:00.000-08:00]
earliest_cr_line[T.2004-12-27T16:00:00.000-08:00]
earliest_cr_line[T.2005-01-24T16:00:00.000-08:00]
earliest_cr_line[T.2005-01-26T16:00:00.000-08:00]
earliest_cr_line[T.2005-01-27T16:00:00.000-08:00]

In [26]:
df.zip_code

0      327
1      100
2      379
3      735
4      917
5      331
6      925
7      112
8      809
9      666
10     967
11     117
12     890
13     112
14     891
15     970
16     443
17     278
18     336
19     189
20     114
21     914
22     481
23     701
24     270
25     946
26     600
27     302
28     247
29     852
      ...
570    351
571    301
572    014
573    301
574    325
575    117
576    655
577    154
578    913
579    480
580    295
581    210
582    921
583    800
584    765
585    554
586    303
587    945
588    983
589    028
590    104
591    775
592    750
593    770
594    334
595    068
596    328
597    306
598    480
599    460
Name: zip_code, dtype: object

In [47]:
len(df.addr_state.value_counts())

47

In [51]:
reference_df = pd.read_pickle('cleaned_df.pkl')

In [58]:
unique_states = reference_df.addr_state.unique()

In [64]:
import pickle
with open('state_list.pkl', 'wb') as picklefile:
    pickle.dump(list(unique_states.get_values()), picklefile)

In [82]:
with open('purpose_list.pkl', 'wb') as picklefile:
    pickle.dump(set(unique_states.unique()), picklefile)

In [67]:
with open('state_list.pkl', 'rb') as picklefile:
    state_list = pickle.load(picklefile)

In [72]:
unique_states = df.addr_state.unique()

In [79]:
set(state_list) - set(unique_states.get_values())

{'IA', 'ID', 'NM', 'VT'}

In [80]:
len(df.purpose.unique())

12

In [71]:
df.addr_state = df.addr_state.astype('category')
df.addr_state.cat.add_categories(state_list)

ValueError: new categories must not include old categories: {'OR', 'IL', 'OK', 'WI', 'DE', 'HI', 'KS', 'LA', 'NV', 'IN', 'MD', 'NE', 'FL', 'AR', 'WV', 'MO', 'SD', 'VA', 'CT', 'KY', 'CO', 'ME', 'MT', 'OH', 'WA', 'TX', 'AL', 'AZ', 'RI', 'AK', 'MI', 'WY', 'PA', 'NC', 'CA', 'DC', 'MN', 'NJ', 'MS', 'NY', 'NH', 'SC', 'GA', 'TN', 'UT', 'MA'}

In [68]:
state_list

['AZ',
 'GA',
 'IL',
 'CA',
 'OR',
 'NC',
 'TX',
 'VA',
 'MO',
 'CT',
 'UT',
 'FL',
 'NY',
 'PA',
 'MN',
 'NJ',
 'KY',
 'OH',
 'SC',
 'RI',
 'LA',
 'MA',
 'WA',
 'WI',
 'AL',
 'CO',
 'KS',
 'NV',
 'AK',
 'MD',
 'WV',
 'VT',
 'MI',
 'DC',
 'SD',
 'NH',
 'AR',
 'NM',
 'MT',
 'HI',
 'WY',
 'OK',
 'DE',
 'MS',
 'TN',
 'IA',
 'NE',
 'ID',
 'IN',
 'ME']

In [50]:
df.addr_state

0      FL
1      NY
2      TN
3      OK
4      CA
5      FL
6      CA
7      NY
8      CO
9      KS
10     HI
11     NY
12     NV
13     NY
14     NV
15     OR
16     OH
17     NC
18     FL
19     PA
20     NY
21     CA
22     MI
23     LA
24     NC
25     CA
26     IL
27     GA
28     WV
29     AZ
       ..
570    AL
571    GA
572    MA
573    GA
574    FL
575    NY
576    MO
577    PA
578    CA
579    MI
580    SC
581    MD
582    CA
583    CO
584    TX
585    MN
586    GA
587    CA
588    WA
589    RI
590    NY
591    TX
592    TX
593    TX
594    FL
595    CT
596    FL
597    GA
598    MI
599    IN
Name: addr_state, dtype: object

In [ ]:
df.addr_state.cat.