In [4]:
%pylab inline
import pandas as pd
import os
DATA_DIR = '/Users/Will/Data/lending_club/'

Populating the interactive namespace from numpy and matplotlib

In [5]:
os.listdir(DATA_DIR)

['.DS_Store',
 'LoanStats3a.csv',
 'LoanStats3b.csv',
 'LoanStats3c.csv',
 'LoanStats3d.csv']

In [6]:
df = pd.DataFrame()
for csv in os.listdir(DATA_DIR)[1:]:
    df = df.append(pd.read_csv(DATA_DIR + csv, header=True))

/Users/Will/anaconda/envs/py34/lib/python3.4/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)
/Users/Will/anaconda/envs/py34/lib/python3.4/site-packages/pandas/io/parsers.py:1170: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [8]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code'],
      dtype='object')

In [26]:
important_columns = ['total_pymnt', 'zip_code', 'member_id', 'id', 'loan_amnt', 'int_rate',
                    'installment', 'emp_length', 'home_ownership', 'grade', 'sub_grade', 'emp_title', 'emp_length',
                    'issue_d', 'loan_status', 'annual_inc', 'verification_status', 'purpose', 'addr_state', 'pymnt_plan',
                     'inq_last_6mths', 'dti', 'revol_util', 'mths_since_last_record', 'mths_since_last_delinq',
                     'pub_rec', 'revol_bal', 'open_acc', 'total_pymnt', 'collections_12_mths_ex_med', 'delinq_2yrs',
                     'earliest_cr_line',  'last_credit_pull_d', 
                    ]

In [27]:
lc = df[important_columns]

In [10]:
other_columns = ['last_pymnt_d', 'last_pymnt_amnt']

17.729854762379929

In [22]:
mean(df.total_pymnt - df.total_pymnt_inv)

50.786928010183928

Earliest CR line is a good proxy for age.

In [18]:
df[['total_pymnt', 'total_pymnt_inv']]

         total_pymnt  total_pymnt_inv
0        5861.071414          5831.78
1        1008.710000          1008.71
2        3003.653644          3003.65
3       12226.302212         12226.30
4        2971.010000          2971.01
5        5631.377753          5631.38
6        7456.520000          7456.52
7        3938.144334          3938.14
8         646.020000           646.02
9        1476.190000          1469.34
10       7677.520000          7677.52
11      13943.080000         13943.08
12       2270.700000          2270.70
13       3478.981915          3478.98
14       7471.990000          7471.99
15       1270.171106          1270.17
16      12519.260450         12519.26
17       3785.020000          3785.02
18       7164.499852          7164.50
19       9459.960000          9459.96
20      27663.042671         25417.68
21      14025.400000         14025.40
22      11902.561575         11902.56
23      11536.310000         11536.31
24       2050.140000          2050.14
25      15823.480000         15823.48
26          0.000000             0.00
27       1609.120000          1609.12
28       4484.790000          4484.79
29      10122.208614         10122.21
...              ...              ...
180074   3965.220000          3965.22
180075   3256.330000          3256.33
180076   2616.450000          2616.45
180077   4394.720000          4394.72
180078   3750.410000          3750.41
180079   1720.090000          1720.09
180080   6750.520000          6750.52
180081   4341.430000          4341.43
180082   4818.140000          4818.14
180083   4776.850000          4776.85
180084   2003.920000          2003.92
180085   5099.130000          5099.13
180086   1751.550000          1751.55
180087   2444.390000          2444.39
180088   3062.070000          3062.07
180089  11071.870000         11071.87
180090   2480.260000          2480.26
180091   1911.270000          1911.27
180092   4158.020000          4158.02
180093   1913.850000          1913.85
180094   2396.050000          2396.05
180095   3172.170000          3172.17
180096   3244.890000          3244.89
180097   2643.480000          2643.48
180098   6344.270000          6344.27
180099   2516.230000          2516.23
180100   2505.460000          2505.46
180101   5286.960000          5286.96
180102           NaN              NaN
180103           NaN              NaN

[646398 rows x 2 columns]

# Type Casting

In [29]:
lc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 646398 entries, 0 to 180103
Data columns (total 33 columns):
total_pymnt                   646389 non-null total_pymnt    float64
total_pymnt    float64
dtype: object
zip_code                      646389 non-null object
member_id                     646389 non-null float64
id                            646398 non-null object
loan_amnt                     646389 non-null float64
int_rate                      646389 non-null object
installment                   646389 non-null float64
emp_length                    646389 non-null emp_length    object
emp_length    object
dtype: object
home_ownership                646389 non-null object
grade                         646389 non-null object
sub_grade                     646389 non-null object
emp_title                     609365 non-null object
emp_length                    646389 non-null emp_length    object
emp_length    object
dtype: object
issue_d                       646389 non-null object
loan_status                   646389 non-null object
annual_inc                    646385 non-null float64
verification_status           646389 non-null object
purpose                       646389 non-null object
addr_state                    646389 non-null object
pymnt_plan                    646389 non-null object
inq_last_6mths                646360 non-null float64
dti                           646389 non-null float64
revol_util                    645986 non-null object
mths_since_last_record        94342 non-null float64
mths_since_last_delinq        309041 non-null float64
pub_rec                       646360 non-null float64
revol_bal                     646389 non-null float64
open_acc                      646360 non-null float64
total_pymnt                   646389 non-null total_pymnt    float64
total_pymnt    float64
dtype: object
collections_12_mths_ex_med    646244 non-null float64
delinq_2yrs                   646360 non-null float64
earliest_cr_line              646360 non-null object
last_credit_pull_d            646341 non-null object
dtypes: float64(15), object(18)
memory usage: 167.7+ MB

In [32]:
lc.zip_code = lc.zip_code.str.replace('x', '')

/Users/Will/anaconda/envs/py34/lib/python3.4/site-packages/pandas/core/generic.py:2177: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [36]:
lc.tail()

,total_pymnt,zip_code,member_id,id,loan_amnt,int_rate,installment,emp_length,home_ownership,grade,...,mths_since_last_record,mths_since_last_delinq,pub_rec,revol_bal,open_acc,total_pymnt,collections_12_mths_ex_med,delinq_2yrs,earliest_cr_line,last_credit_pull_d
180099,2516.23,010,39222577,36490806,12000,19.99%,317.86,1 year,RENT,E,...,NaN,22,0,8254,17,2516.23,1,1,Oct-2003,Sep-2015
180100,2505.46,378,38982739,36271333,13000,15.99%,316.07,5 years,RENT,D,...,84,NaN,1,11031,9,2505.46,0,0,Sep-2003,Sep-2015
180101,5286.96,331,38982659,36271262,20000,11.99%,664.20,10+ years,RENT,B,...,110,NaN,1,33266,8,5286.96,0,0,Dec-2001,Sep-2015
180102,NaN,NaN,NaN,Total amount funded in policy code 1: 2742412100,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180103,NaN,NaN,NaN,Total amount funded in policy code 2: 804437282,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
lc = lc[:-2]

In [47]:
lc[lc.id == 'Loans that do not meet the credit policy']

,total_pymnt,zip_code,member_id,id,loan_amnt,int_rate,installment,emp_length,home_ownership,grade,...,mths_since_last_record,mths_since_last_delinq,pub_rec,revol_bal,open_acc,total_pymnt,collections_12_mths_ex_med,delinq_2yrs,earliest_cr_line,last_credit_pull_d
39786,NaN,NaN,NaN,Loans that do not meet the credit policy,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
lc = lc[lc.id != 'Loans that do not meet the credit policy']
lc = lc[lc.id != 'Total amount funded in policy code 1: 471701350']
lc = lc[lc.id !='Total amount funded in policy code 2: 0']
lc = lc[lc.id !='Total amount funded in policy code 1: 2700420250']
lc = lc[lc.id != 'Total amount funded in policy code 2: 82622275']

In [ ]:
lc = lc[~lc.id.str.contains('[A-z]', na=False)]

In [75]:
lc.loc[lc.id.str.isalpha()]

ValueError: cannot index with vector containing NA / NaN values

In [73]:
lc[lc.id.str.isalpha()]

ValueError: cannot index with vector containing NA / NaN values

In [78]:
lc[lc.id.str.contains('[A-z]').fillna(False)]

,total_pymnt,zip_code,member_id,id,loan_amnt,int_rate,installment,emp_length,home_ownership,grade,...,mths_since_last_record,mths_since_last_delinq,pub_rec,revol_bal,open_acc,total_pymnt,collections_12_mths_ex_med,delinq_2yrs,earliest_cr_line,last_credit_pull_d
235629,NaN,NaN,NaN,Total amount funded in policy code 1: 3503840175,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235630,NaN,NaN,NaN,Total amount funded in policy code 2: 873663239,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
lc = lc[~lc.id.str.contains('[A-z]', na=False)]

,total_pymnt,zip_code,member_id,id,loan_amnt,int_rate,installment,emp_length,home_ownership,grade,...,mths_since_last_record,mths_since_last_delinq,pub_rec,revol_bal,open_acc,total_pymnt,collections_12_mths_ex_med,delinq_2yrs,earliest_cr_line,last_credit_pull_d
0,5861.071414,860,1296599,1077501,5000,10.65%,162.87,10+ years,RENT,B,...,NaN,NaN,0,13648,3,5861.071414,0,0,Jan-1985,Jan-2015
1,1008.710000,309,1314167,1077430,2500,15.27%,59.83,< 1 year,RENT,C,...,NaN,NaN,0,1687,3,1008.710000,0,0,Apr-1999,Sep-2013
2,3003.653644,606,1313524,1077175,2400,15.96%,84.33,10+ years,RENT,C,...,NaN,NaN,0,2956,2,3003.653644,0,0,Nov-2001,Sep-2015
3,12226.302212,917,1277178,1076863,10000,13.49%,339.31,10+ years,RENT,C,...,NaN,35,0,5598,10,12226.302212,0,0,Feb-1996,Jan-2015
4,2971.010000,972,1311748,1075358,3000,12.69%,67.79,1 year,RENT,B,...,NaN,38,0,27783,15,2971.010000,0,0,Jan-1996,Sep-2015
5,5631.377753,852,1311441,1075269,5000,7.90%,156.46,3 years,RENT,A,...,NaN,NaN,0,7963,9,5631.377753,0,0,Nov-2004,Sep-2015
6,7456.520000,280,1304742,1069639,7000,15.96%,170.08,8 years,RENT,C,...,NaN,NaN,0,17726,7,7456.520000,0,0,Jul-2005,Sep-2015
7,3938.144334,900,1288686,1072053,3000,18.64%,109.43,9 years,RENT,E,...,NaN,NaN,0,8221,4,3938.144334,0,0,Jan-2007,Dec-2014
8,646.020000,958,1306957,1071795,5600,21.28%,152.39,4 years,OWN,F,...,NaN,NaN,0,5210,11,646.020000,0,0,Apr-2004,Aug-2012
9,1476.190000,774,1306721,1071570,5375,12.69%,121.45,< 1 year,RENT,B,...,NaN,NaN,0,9279,2,1476.190000,0,0,Sep-2004,Mar-2013
10,7677.520000,853,1305201,1070078,6500,14.65%,153.45,5 years,OWN,C,...,NaN,NaN,0,4032,14,7677.520000,0,0,Jan-1998,Jul-2013
11,13943.080000,913,1305008,1069908,12000,12.69%,402.54,10+ years,OWN,B,...,NaN,NaN,0,23336,12,13943.080000,0,0,Oct-1989,Aug-2013
12,2270.700000,245,1298717,1064687,9000,13.49%,305.38,< 1 year,RENT,C,...,NaN,NaN,0,10452,4,2270.700000,0,0,Apr-2004,Nov-2012
13,3478.981915,606,1304956,1069866,3000,9.91%,96.68,3 years,RENT,B,...,NaN,NaN,0,7323,11,3478.981915,0,0,Jul-2003,Sep-2015
14,7471.990000,951,1303503,1069057,10000,10.65%,325.74,3 years,RENT,B,...,NaN,NaN,0,11997,14,7471.990000,0,0,May-1991,Mar-2014
15,1270.171106,641,1304871,1069759,1000,16.29%,35.31,< 1 year,RENT,D,...,NaN,NaN,0,6524,11,1270.171106,0,0,Sep-2007,Dec-2014
16,12519.260450,921,1299699,1065775,10000,15.27%,347.98,4 years,RENT,C,...,NaN,61,0,24043,14,12519.260450,0,0,Oct-1998,Apr-2015
17,3785.020000,067,1304884,1069971,3600,6.03%,109.57,10+ years,MORTGAGE,A,...,NaN,NaN,0,22836,20,3785.020000,0,0,Aug-1993,May-2014
18,7164.499852,890,1294539,1062474,6000,11.71%,198.46,1 year,MORTGAGE,B,...,NaN,8,0,0,4,7164.499852,0,2,Oct-2003,Jul-2015
19,9459.960000,921,1304855,1069742,9200,6.03%,280.01,6 years,RENT,A,...,NaN,NaN,0,7314,8,9459.960000,0,0,Jan-2001,Jul-2012
20,27663.042671,770,1284848,1069740,20250,15.27%,484.63,3 years,RENT,C,...,NaN,NaN,0,17813,8,27663.042671,0,0,Nov-1997,Sep-2015
21,14025.400000,335,1269083,1039153,21000,12.42%,701.73,10+ years,RENT,B,...,NaN,NaN,0,32135,7,14025.400000,0,0,Feb-1983,Dec-2013
22,11902.561575,799,1304821,1069710,10000,11.71%,330.76,10+ years,OWN,B,...,NaN,NaN,0,10056,8,11902.561575,0,0,Jul-1985,Sep-2015
23,11536.310000,917,1304810,1069700,10000,11.71%,330.76,5 years,RENT,B,...,NaN,NaN,0,17800,6,11536.310000,0,0,Apr-2003,Mar-2014
24,2050.140000,900,1304634,1069559,6000,11.71%,198.46,1 year,RENT,B,...,NaN,NaN,0,5963,7,2050.140000,0,0,Jun-2001,Mar-2013
25,15823.480000,605,1273773,1069697,15000,9.91%,483.38,2 years,MORTGAGE,B,...,NaN,NaN,0,13707,8,15823.480000,0,0,Feb-2002,Sep-2012
26,0.000000,103,1304679,1069800,15000,14.27%,514.64,9 years,RENT,C,...,NaN,NaN,0,5872,7,0.000000,0,0,Oct-2003,May-2012
27,1609.120000,150,1304764,1069657,5000,16.77%,123.65,2 years,RENT,D,...,NaN,20,0,4345,14,1609.120000,0,3,Oct-2003,May-2013
28,4484.790000,326,1304678,1069799,4000,11.71%,132.31,10+ years,MORTGAGE,B,...,NaN,18,0,6110,12,4484.790000,0,1,Aug-1984,Sep-2015
29,10122.208614,564,1278806,1047704,8500,11.71%,281.15,< 1 year,RENT,B,...,NaN,NaN,0,6441,8,10122.208614,0,0,Nov-2006,Jan-2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180072,1887.250000,925,39232937,36500819,10300,13.66%,237.86,10+ years,RENT,C,...,NaN,17,0,10260,13,1887.250000,0,1,Aug-2002,Sep-2015
180073,4924.150000,325,39434133,36691397,20000,6.99%,617.46,2 years,MORTGAGE,A,...,NaN,69,0,21100,15,4924.150000,0,0,Mar-1998,Sep-2015
180074,3965.220000,209,38942474,36231083,15000,11.99%,498.15,< 1 year,RENT,B,...,NaN,NaN,0,9508,8,3965.220000,0,0,Dec-2006,Sep-2015
180075,3256.330000,176,39374138,36631385,13000,8.19%,408.52,10+ years,MORTGAGE,A,...,NaN,15,0,6646,8,3256.330000,0,1,Jun-1996,Sep-2015
180076,2616.450000,339,39103231,36371802,15000,11.44%,329.44,4 years,RENT,B,...,NaN,NaN,0,14848,8,2616.450000,0,0,Jan-1989,Sep-2015
180077,4394.720000,597,39182359,36460697,23000,15.59%,554.32,10+ years,MORTGAGE,D,...,NaN,NaN,0,41546,13,4394.720000,0,0,Dec-1994,Sep-2015
180078,3750.410000,412,38468842,35773415,18700,17.86%,473.44,10+ years,RENT,D,...,NaN,30,0,7710,8,3750.410000,0,0,Jul-2002,Sep-2015
180079,1720.090000,308,38962184,36250801,6000,17.86%,216.50,10+ years,MORTGAGE,D,...,NaN,NaN,0,6707,9,1720.090000,0,0,Jun-2001,Sep-2015
180080,6750.520000,840,39042967,36331554,26950,8.19%,846.88,n/a,RENT,A,...,NaN,NaN,0,32167,14,6750.520000,0,0,Jun-1993,Sep-2015
180081,4341.430000,138,39093260,36361815,26500,8.67%,545.87,10+ years,MORTGAGE,B,...,NaN,17,0,75645,10,4341.430000,0,1,Aug-1983,Sep-2015
180082,4818.140000,282,39152101,36440728,25000,15.99%,607.82,3 years,RENT,D,...,NaN,NaN,0,17275,5,4818.140000,0,0,May-2003,Sep-2015
180083,4776.850000,550,38288343,35591131,25000,15.59%,602.52,n/a,OWN,D,...,NaN,NaN,0,13860,9,4776.850000,0,0,May-2003,Sep-2015
180084,2003.920000,871,39013193,36381756,8000,8.19%,251.40,9 years,MORTGAGE,A,...,NaN,24,0,4611,11,2003.920000,0,0,Sep-2003,Sep-2015
180085,5099.130000,021,38913321,36201871,21000,6.03%,639.15,10+ years,MORTGAGE,A,...,NaN,NaN,0,23356,11,5099.130000,0,0,Oct-1994,Sep-2015
180086,1751.550000,330,38952731,36241316,6225,16.49%,220.37,2 years,RENT,D,...,NaN,NaN,0,1756,3,1751.550000,0,0,Feb-2011,Sep-2015
180087,2444.390000,333,39023153,36301729,10000,6.49%,306.45,1 year,RENT,A,...,NaN,29,0,10529,9,2444.390000,0,0,Mar-2000,Sep-2015
180088,3062.070000,891,38943173,36231724,12000,9.49%,384.34,4 years,RENT,B,...,NaN,8,0,8731,8,3062.070000,0,1,Oct-2006,Sep-2015
180089,11071.870000,325,38943165,36231718,10775,6.03%,327.95,< 1 year,RENT,A,...,NaN,16,0,10776,9,11071.870000,0,1,Nov-1975,Jun-2015
180090,2480.260000,286,38961532,36250208,13150,14.99%,312.77,8 years,MORTGAGE,C,...,NaN,NaN,0,672,3,2480.260000,0,0,May-1994,Mar-2015
180091,1911.270000,471,39013139,36381704,7000,14.31%,240.30,10+ years,RENT,C,...,52,10,2,2684,13,1911.270000,0,2,Nov-2006,Sep-2015
180092,4158.020000,956,39142898,36421485,4000,8.67%,126.59,10+ years,MORTGAGE,B,...,84,NaN,1,1700,11,4158.020000,0,0,Sep-2002,Jun-2015
180093,1913.850000,531,37777829,35094480,7500,9.49%,240.22,8 years,RENT,B,...,88,69,1,6361,10,1913.850000,0,0,Aug-1994,Sep-2015
180094,2396.050000,430,38972123,36260758,10850,19.24%,399.04,n/a,OWN,E,...,NaN,65,0,6987,9,2396.050000,0,0,Jun-2002,Sep-2015
180095,3172.170000,432,39042282,36330911,12000,11.99%,398.52,< 1 year,MORTGAGE,B,...,NaN,9,0,21110,13,3172.170000,0,1,Jun-1995,Sep-2015
180096,3244.890000,791,38932858,36221446,11575,15.59%,404.61,10+ years,RENT,D,...,NaN,NaN,0,18266,9,3244.890000,0,0,Jul-1999,Sep-2015
180097,2643.480000,905,39102635,36371250,10000,11.99%,332.10,8 years,RENT,B,...,77,NaN,1,14037,9,2643.480000,0,0,Sep-2004,Sep-2015
180098,6344.270000,072,39152692,36441262,24000,11.99%,797.03,10+ years,MORTGAGE,B,...,NaN,26,0,8621,5,6344.270000,0,0,Mar-1974,Sep-2015
180099,2516.230000,010,39222577,36490806,12000,19.99%,317.86,1 year,RENT,E,...,NaN,22,0,8254,17,2516.230000,1,1,Oct-2003,Sep-2015
180100,2505.460000,378,38982739,36271333,13000,15.99%,316.07,5 years,RENT,D,...,84,NaN,1,11031,9,2505.460000,0,0,Sep-2003,Sep-2015
180101,5286.960000,331,38982659,36271262,20000,11.99%,664.20,10+ years,RENT,B,...,110,NaN,1,33266,8,5286.960000,0,0,Dec-2001,Sep-2015

In [76]:
?lc.id.str.contains

In [68]:
lc.id.astype(int)

ValueError: invalid literal for int() with base 10: 'Total amount funded in policy code 1: 3503840175'

# Feature Engineering

Feature | Why
-- | --
Ratio of income to installment payment | might suggest overpayment amount
Ratio of income to all debt including installment | The previous but better.

# List of features

dti